<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mi Pagina de venta</title>
</head>
<body>
    <h1>Mi Pagina de venta</h1>
    <form action="/agregar" method="POST">
        {% for p in productos %}
        <div class="producto-card">
            <img src="{{ url_for('static', filename=p.imagen) }}" width="100">
            <p>{{ p.nombre }}</p>
            <label>cantidad:</label>
            <input type="number" name="cantidad" value="1" min="1">
            <input type="hidden" name="id" value="{{ p.id }}">
            <button type="submit">Agregar</button>
        </div>
        <hr>
        {% endfor %}
    </form>
    <br>
    <a href="/comprar" style="background-color: green; color: white; padding: 10px; text-decoration: none;">ir al carrito</a>
</body>
</html>